@font-face {
    font-family: 'LemonMilk';
    src: url('LemonMilk.otf');
}

.BottomRight {
    float: right;
    width: 50%;
    display: inline-block;
    font-size: 110%;
    margin-top: -5px;
    
    
}

.BottomRight p {
    font-family: LemonMilk;
    align-content: center;
    margin-top: 25px;
    color: red;
    text-shadow: .2px .2px black;
}

.BottomRightFade {
    float: right;
    width: 50%;
    display: inline-block;
    font-size: 110%;
    margin-top: -5px;
    opacity: .3;
    
    
}

.BottomRightFade p {
    font-family: LemonMilk;
    align-content: center;
    margin-top: 25px;
    color: red;
    text-shadow: .2px .2px black;
}

.leftimage {
    width: 50%;
    float: left;
    transition: .2s ease;
}

.rightimage {
    width: 50%;
    float: right;
    transition: .2s ease;
}
.leftimage img{
    height: 280px;
    width: 450px;
    
    
}

.leftimage:hover{
    opacity: 0.6;
}

.rightimage img{
    
    height: 280px;
    width: 450px;
}

.rightimage:hover{
    opacity: 0.6;
}