@font-face {
    font-family: 'LemonMilk';
    src: url('LemonMilk.otf');
}

.Logo {
   position:absolute;
   text-align:left;
   margin-left: 1%;
}

.Logo img {
    margin-top: 5px;
    margin-left: 5px;
    height:60%;
    width:60%;
    
}

.collegecooks {
    color: white;
    font-size: 300%;
    margin-top: 1%;
    text-shadow: 1px 1px black;
    font-family: LemonMilk;
    
}

.recipe {
    color: orange;
    text-shadow: 1px 1px black;
    font-size: 160%;
    margin-top: -20%;
    font-family: LemonMilk;
}