.Search div {
    z-index: 2;
}

input {
    position: absolute;
    right: 90px;
    top:13px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
   
    
}

input:focus {
    outline-width: 0px;
}